<div class="row">
    {{ form_start(form,{'attr': {'id': 'propFilterForm'},'method': 'GET'}) }}
    <div class="input-field col m2 s3">
        {{ form_label(form.propName) }}
        {{ form_widget(form.propName) }}
    </div>
    <div class="input-field col m2 s3">
        {{ form_widget(form.featured) }}
        {{ form_label(form.featured) }}
    </div>
    <div class="input-field col m2 s3">
        {{ form_widget(form.category) }}
        {{ form_label(form.category) }}
    </div>
    {{ form_end(form) }}
</div>