


<ul id="slide-out2" class="sidenav">
    <li><div class="center">
            <h4>FILTER OPTIONS</h4>
        </div></li>
    <li>{{ form_start(form,{'attr': {'id': 'propFilterForm','class': 'col m5'},'method': 'GET'}) }}
        <div class="input-field center col m2 s3 offset-m5 offset-s5">
            {{ form_label(form.propName) }}
            {{ form_widget(form.propName) }}
        </div>
        <div class="input-field col m2 s3">
            {{ form_widget(form.featured) }}
            {{ form_label(form.featured) }}
        </div>
        <div class="input-field col m2 s3">
            {{ form_widget(form.category) }}
            {{ form_label(form.category) }}
        </div>

        <div class="input-field col m2 s3 offset-m5 offset-s5">
            {{ form_row(form.propertyAddress.propCity) }}
        </div>
        <div class="input-field col m2 s3">
            {{ form_row(form.propertyAddress.propDistrict) }}
        </div>

        <div class="input-field col m2 s3">
            {{ form_row(form.propDetails.propBHK) }}
        </div>   <div class="row">


        </div>

        {{ form_end(form) }}
    </li>
</ul>
