{% form_theme form 'themes/materialize.html.twig' %}
{{ form_start(form) }}
        {{ form_label(form.TypeUsers) }}
        {{ form_widget(form.TypeUsers) }}
        {{ form_errors(form.userFirstName) }}
        {{ form_widget(form.userFirstName) }}
        {{ form_errors(form.userLastName) }}
        {{ form_widget(form.userLastName) }}
        {{ form_errors(form.username) }}
        {{ form_widget(form.username) }}

        {{ form_errors(form.plainPassword) }}
        {{ form_label(form.plainPassword) }}
        {{ form_widget(form.plainPassword) }}
        <div class="red-text">
                {{ form_errors(form.userEmail) }}
        </div>
        {{ form_widget(form.userEmail) }}
        {{ form_errors(form.userContact) }}
        {{ form_widget(form.userContact) }}
        {{ form_label(form.address)}}
        {{ form_row(form.address.city) }}
        {{ form_row(form.address.pincode) }}


<div class="center-align">
        <input type="reset" id="reset" class="btn-flat grey-text waves-effect">
        <input type="submit" id="Register" name="Register" class="btn green waves-effect waves-light" value="Register">
</div>
{{ form_end(form) }}