{% extends 'base.html.twig' %}

{% block title %}{{ property.propName }}{% endblock %}

{% block body %}

    <div id="view_prop_body">

        <main id="main_view_prop">

                <div class="container">
                        <div class="row">
                            <div class="center">
                                <h3>{{ property.propName }}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="carousel carousel-slider" style="max-height: 600px">
                                {% for image in property.images %}
                                    <a class="carousel-item" href="#{{ image.id }}!"><img class="activator" src="{{ asset(prop_images_path ~ property.scapeUser.username ~'/'~ property.category.categoryName~'/'~ property.propName~'/'~image.imagePath) }}" alt="{{ property.propName }}"></a>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="center" id="refreshDiv">
                              {% if is_granted('ROLE_USER') %}
                                  {% if app.user.appointment|length == 0 %}
                                      <button class="btn large" id="book_apoint">Book Appointment</button>
                                      {% else %}
                                          {% for appt in app.user.appointment %}
                                              {% if appt.scapeProperty.id == property.id %}
                                                  <button class="btn" id="cancel_book"> cancel booking? </button>
                                              {% else %}
                                                  <button class="btn large" id="book_apoint">Book Appointment</button>
                                              {% endif %}
                                          {% endfor %}

                                  {% endif %}


                                  {% else %}

                                  <a class="btn large modal-trigger" href="#loginModal" data-target="loginModal">Login Please</a>
                              {% endif %}

                            </div>

                        </div>
                </div>

        </main>

    </div>

{% endblock %}
{% block modals %}
 {{ parent() }}
{% endblock %}
{% block javascripts %}
 {{ parent() }}
    <script>
        //book_appointment
        $('#book_apoint').click(function () {
            $.confirm({
                title: 'Confirm!',
                content: 'Confirm appointment',
                buttons: {
                    confirm: function () {
                        axios.post('{{ path('appointment',{vendor_id: property.scapeUser.id, propId: property.id }) }}').then((res)=>{
                            $.alert({
                                title: 'Success',
                                content: res.data,
                                buttons: {
                                    Confirm: function () {
                                        window.location.reload();
                                    }
                                }
                            });

                        });
                    },
                    cancel: function () {

                    }
                }
            });
        });
        $('#cancel_book').click(function () {
            $.confirm({
                title: 'Confirm!',
                content: 'Are you sure you want to cancel?',
                buttons: {
                    confirm: function () {
                        axios.post('{{ path('cancelAppt',{vendor_id: property.scapeUser.id, propId: property.id }) }}').then((res)=>{
                            $.alert({
                                title: 'Success',
                                content: res.data,
                                buttons: {
                                    Confirm: function () {
                                        window.location.reload();
                                    }
                                }
                            });

                        });
                    },
                    cancel: function () {

                    }
                }
            });
        });
    </script>
{% endblock %}