
<div class="row">
    {{ form_start(form) }}

    <div class="input-field col m2 s3">
        {{ form_label(form.propName) }}
        {{ form_widget(form.propName) }}
    </div>
    <div class="input-field col m2 s3">
        {{ form_widget(form.featured) }}
        {{ form_label(form.featured) }}
    </div>
    <div class="input-field col m2 s3">
        {{ form_widget(form.category) }}
        {{ form_label(form.category) }}
    </div>
    {{ form_end(form) }}
</div>
<hr>
<div class="row" id="properties">
    <div class="center">
        <nav>
            <h3>Properties</h3>
        </nav>
    </div>
{% for props in properties %}
<div class="col m3 s5">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="{{ asset('build/images/MainPageBack.23a3055d.png') }}" alt="Property Image">
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">{{ props.propName }}<i class="material-icons right">more_vert</i></span>
            <p><a href="#">view property</a></p>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{ props.propName }}<i class="material-icons right">close</i></span>
            <div class="m12">
                <table cellpadding="1" cellspacing="1" class="table table-hover" id="myTable">
                    <thead>
                    <tr>
                        <th>CITY</th>
                        <th>NOTES</th>
                        <th>STATUS</th>
                    </tr>

                    </thead>
                    <tbody>
                    <tr>

                        <td>{{ props.propertyAddress.propCity  }}</td>
                        <td>{{ props.propNotes }}</td>
                        <td>{{ props.propStatus }}</td>
                    </tr>
                    </tbody>

                </table>

            </div>
        </div>
    </div>

</div>
{% endfor %}
</div>
<div class="row">
    <div id="loaderProperties"></div>

</div>
<div class="row">

        <div class="nav-wrapper" style="background: transparent">
            {{ knp_pagination_render(properties) }}
        </div>

</div>