{% extends 'base.html.twig' %}

{% block body %}
    <div style="min-height: 60em;padding-left: 300px;" >


        <ul id="sidenav-1" class="sidenav sidenav-fixed" style="z-index: 0; padding-top: 3%; ">
            <li><a class="subheader grey lighten-1 white-text" >VENDOR PANEL</a></li>
            <li><a href="{{ path('vendorportalAdd') }}" class="cyan lighten-3">ADD-PROPERTIES</a></li>
            <li><a href="{{ path('vendorportalList',{ vendor_id: app.user.id }) }}">PROPERTIES</a></li>
            <li><a href="">APPOINTMENTS</a></li>
        </ul>
        <div class="container z-depth-1" style="margin-top: 6%; margin-bottom: 10%;border-radius: 20px; padding: 4%;">
            <div class="row">
                <div class="center-align">
                    <h3 class="TitleClass">Add Property</h3>
                    <hr>
                </div>
            </div>
            {% form_theme form 'themes/materialize.html.twig' %}
            <div class="row">
                <div class="col m8 offset-m2">
                    {{ form_start(form) }}

                    <div class="file-field input-field">
                        <div class="btn">
                            <span>File</span>
                            {{ form_widget(form.Images) }}
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Upload one or more files">
                        </div>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>

    </div>
{% endblock %}