<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Scape-360{% endblock %}</title>
        {% block stylesheets %}
            <link rel="icon" href="{{ asset('build/images/Logo.f5a4542a.png') }}">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% endblock %}

    </head>
    <body>
    {% block loader %}
        {{ include('loader/loader.html.twig') }}
    {% endblock %}
    <div id="homePage" style="display: none">

        {% block navbar %}
            <!-- new nav!-->

            <nav class="transparent z-depth-0" id="navbar">
                <div class="nav-wrapper">
                    <div class="row">
                        <div class="col s12">
                            <a href="{{ path('homepage') }}" class="brand-logo left"><img src="{{ asset('build/images/Logo.f5a4542a.png') }}" alt="logo" id="logo"></a>
                            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                            <ul class="right hide-on-med-and-down">
                                {% if is_granted('ROLE_USER') %}
                                    <li>Welcome: {{ app.user.username }}</li>
                                    {% if app.user.verified == 'unverified' %}

                                        <li> Please verify</li>

                                    {% elseif app.user.verified == 'verified' %}

                                        <li> Verified</li>

                                    {% endif %}
                                    {% if is_granted('ROLE_VENDOR') %}
                                        <li><a href="{{ path('vendorportal') }}">Vendor Panel</a></li>
                                    {% endif %}
                                    <li><a class="modal-trigger" href="{{ path('security_logout') }}">Logout</a></li>
                                {% else %}
                                    <li><a class="modal-trigger" href="#loginModal" data-target="loginModal">Login</a></li>
                                    <li><a class="modal-trigger" href="#registerModal" data-target="registerModal">Register</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <ul class="sidenav" id="mobile-demo">
                {% if is_granted('ROLE_USER') %}
                    <li><div class="user-view">
                            <div class="background cyan">

                            </div>
                            <a href="#"><img class="circle" src="{{ asset('build/images/Logo.7554d491.png') }}" alt="UserImage"></a>

                            <a href="#"><span class="white-text name">{{ app.user.username }}</span></a>
                            <a href="#"><span class="white-text email">{{ app.user.userEmail }}</span></a>
                        </div></li>

                    <li><div class="divider"></div></li>
                    <li><a class="modal-trigger waves-effect" href="{{ path('security_logout') }}">Logout</a></li>
                {% else %}
                    <li><a class="modal-trigger" href="#loginModal" data-target="loginModal">Login</a></li>
                    <li><div class="divider"></div></li>
                    <li><a class="modal-trigger" href="#registerModal" data-target="registerModal">Register</a></li>
                {% endif %}
            </ul>

            <div id='nav-bg'></div>
            <!-- new nav!-->
        {% endblock %}
        {% block body %}

        {% endblock %}

        {% block modals %}
            <div id="loginModal" class="modal">
                <div class="modal-content light-blue-text text-lighten-2">
                    <h4>Login</h4>
                    <hr>

                    <form class="col s12" action="{{ path('security_login') }}" id="formLogin">
                        <div class="row">
                            <div class="input-field col s12">
                                <input placeholder="Username" id="username" name="_username" type="text" required="required" class="validate">
                                <label for="first_name">Username</label>
                            </div>
                            <div class="input-field col s12">
                                <input placeholder="password" name="_password" type="password" class="validate" required="required">
                                <label for="password">Password</label>
                            </div>
                        </div>
                        <div class="row center">
                            <div id="errorMessageLogin" class="red-text text-darken-1">

                            </div>
                        </div>
                        <div class="row right">
                            <button type="submit" id="Login" name="Login" class="btn-floating btn-large light-blue lighten-2"><i class="material-icons">arrow_forward</i></button>
                        </div>
                        <div class="row">
                            <a href="{{ path('forgotpassword') }}">Forgot Password?</a>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    </form>
                </div>
                <div class="modal-footer">
                    <div class="progress" id="loginLoader" style="display:none;">
                        <div class="indeterminate"></div>
                    </div>
                </div>
            </div>
            <div id="registerModal" class="modal bottom-sheet modal-fixed-footer">
                <div class="modal-content light-blue-text text-lighten-2">
                    <h4>Register</h4>
                    <div id="registerFormContainer">
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="progress" id="RegisterLogin" style="display:none;">
                        <div class="indeterminate"></div>
                    </div>
                </div>
            </div>
        {% endblock %}

    </div>
        {% block footer %}
            <footer class="page-footer">
                <div class="container">
                    <div class="row">
                        <div class="col l6 s12">
                            <h5 class="white-text">Sacpe-360</h5>
                            <p class="grey-text text-lighten-4"></p>
                        </div>
                        <div class="col l4 offset-l2 s12">
                            <h5 class="white-text">Links</h5>
                            <ul>
                                <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                                <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                                <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                                <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer-copyright">
                    <div class="container">
                        © 2014 Copyright Text
                        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
                    </div>
                </div>
            </footer>

        {% endblock %}
        {% block javascripts %}

        <script src="{{ asset('build/app.js') }}"></script>

        <script>
            function login(forms,loader){
                $(loader).show();
                var form = $(forms);
                var url = "{{ path('security_login') }}";
                $.ajax({
                    type: "post",
                    url: url,
                    data: form.serialize(),
                    dataType:   'json',
                    async:      true,
                    success: function(data)
                    {
                        setTimeout(function () {
                            $('#loginLoader').hide();
                        },600);
                        if(data.success === true){

                            /*$.ajax({
                               type: "post",
                               url: "",
                                async:true,
                                dataType: 'json',
                                success: function (data) {
                                    let role = data.toString();
                                    if(role === 'ROLE_USER'){

                                    }
                                }
                            });*/
                            $(location).attr('href','{{ path('homepage') }}')
                        }else{
                            if(data.message === 'Bad credentials.'){
                                $('#errorMessageLogin').html('<p>Invalid username or password</p>');
                            }
                        }
                    }
                });
            }

            $(document).ready(function () {
                {% for msg in app.flashes('Registered') %}
                   M.toast({html: '{{ msg }}', classes: 'rounded'});
                {% endfor %}
                $.ajax({
                    url: "{{ path('register') }}",
                    type:       'POST',
                    dataType:   'json',
                    async:      true,
                    success: function (data) {
                        $('#registerFormContainer').html(data.form)
                        $('select').formSelect();
                    }
                });
                $('#formLogin').submit(function (event) {
                    event.preventDefault();
                    login(this,'#loginLoader');
                });

            });

        </script>
        {% endblock %}
    </body>
</html>
