<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Top-Notch{% endblock %}</title>
        {% block stylesheets %}
            <link rel="icon" href="{{ asset('build/images/topN.11658e05.png') }}">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% endblock %}
    </head>
    <body>
    {% block loader %}
        {{ include('loader/loader.html.twig') }}
    {% endblock %}
    <div id="homePage" style="display: none">
        {% block navbar %}
            <div class="navbar-fixed">
                <nav id="navBar">
                    <div class="nav-wrapper">
                        <a href="#" class="brand-logo left"><img src="{{ asset('build/images/Logo.7554d491.png') }}" alt="logo" id="logo"></a>
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                            <li><a class="modal-trigger" href="#loginModal" data-target="loginModal">Login</a></li>
                            <li><a class="modal-trigger" href="#registerModal" data-target="registerModal">Register</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        {% endblock %}
        {% block body %}

        {% endblock %}

        {% block modals %}
            <div id="loginModal" class="modal">
                <div class="modal-content">
                    <h4>Login Form</h4>
                    <hr>
                    <form class="col s12" action="{{ path('security_login') }}" id="formLogin">
                        <div class="row">
                            <div class="input-field col s12">
                                <input placeholder="Username" id="username" name="_username" type="text" required="required" class="validate">
                                <label for="first_name">Username</label>
                            </div>
                            <div class="input-field col s12">
                                <input placeholder="password" name="_password" type="password" class="validate" required="required">
                                <label for="password">Password</label>
                            </div>
                        </div>
                        <div class="row center">
                            <div id="errorMessageLogin">

                            </div>
                        </div>
                        <div class="row right">
                            <button type="submit" id="Login" name="Login" class="btn-floating btn-large"><i class="material-icons">arrow_forward</i></button>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    </form>
                </div>
                <div class="modal-footer">

                </div>
            </div>
            <div id="registerModal" class="modal">
                <div class="modal-content">
                    <h4>Modal Header</h4>

                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                </div>
            </div>
        {% endblock %}

    </div>

        {% block javascripts %}

        <script src="{{ asset('build/app.js') }}"></script>
        <script>
            $(document).ready(function () {
                $('#formLogin').submit(function (e) {
                    var form = $('#formLogin');
                    e.preventDefault();
                    var url = "{{ path('security_login') }}";
                    console.log(form);
                    $.ajax({
                        type: "post",
                        url: url,
                        data: form.serialize(),
                        dataType:   'json',
                        async:      true,
                        success: function(data)
                        {
                            console.log(data)

                        }
                    });
                });
            });
        </script>
        {% endblock %}
    </body>
</html>
